* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Zen-Dots", sans-serif;
  font-size: 16px;
  color: #8e8e8e;
  background-color: #fbfbfb;
}

.product-tile {
  width: 300px;
  background-color: #fff;
  padding: 36px 16px 24px;
  border-radius: 20px;
  box-shadow: 6px 6px 8px rgb(246, 246, 246);
}

.product-tile-image {
  background-color: #f3f3f3;
  border-radius: 46px;
  text-align: center;
}

.product-tile-image a {
  display: block;
}

.product-tile-title {
  color: #111;
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
}

.product-tile-pricing {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.product-tile-variations {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.product-tile-variations button {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #d7d9d8;
  transition: border-color 0.2s linear;
}

.product-tile-variations .active button,
.product-tile-variations button:hover {
  border-color: #6f78d4;
}

.product-tile-variations span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.product-tile-variations li:nth-child(1) span {
  background-color: #be3a20;
}

.product-tile-variations li:nth-child(2) span {
  background-color: #717274;
}

.product-tile-variations li:nth-child(3) span {
  background-color: #346010;
}

.product-tile-variations li:nth-child(4) span {
  background-color: #40407e;
}
